<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- ignore local nuget settings -->  
    <clear />
    <add key="MyAwesomeCompany Artifactory" value="https://artifactory.myawesomecompany.com/artifactory/api/nuget/myawesomecompany-3p-nuget/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <MyAwesomeCompany_x0020_Artifactory>
      <add key="Username" value="myuser" />
      <add key="ClearTextPassword" value="abc**00" />
    </MyAwesomeCompany_x0020_Artifactory>
  </packageSourceCredentials>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>